<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>welcome to {{domain}}</title>
		<base href = "http://{{domain}}/" >
		<link rel="shortcut icon" href=" /static/images/favicon.ico" /> 
		<link type="text/css" rel="stylesheet" href="static/css/blog.css"/>
	</head>

	<body>
		<nav>
		<a href="/">文章</a>|<a href="/archive.html">存档</a>|<a href="/album.html">相册</a>|<a href="/aboutme">关于</a>|<a href="http://weibo.com/u/2170618403">微博</a>|
		<a href="https://github.com/townboy">Github</a>|<a href="/feed.xml">订阅</a>|<a href="mailto:564690377@qq.com">E-mail to me</a>
		</nav>

		<article>
			{% block content %}
			{% endblock %}
		</article>

	</body>
</html>
