<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>welcome to {{domain}}</title>
		<base href = "http://{{domain}}/" >
		<link rel="shortcut icon" href=" /static/images/favicon.ico" /> 
		<link type="text/css" rel="stylesheet" href="static/css/blog.css"/>
	</head>

	<body>
	
	<menu>
	<li><a href="#"><strong>Tofu</strong></a>
		<ul>
			<li><a href="http://tofu.im/taichi">太極</a></li>
			<li><a href="http://tofu.im/blog/">博客</a></li>
			<li><a href="http://twitter.com/csineneo/">Twitter</a></li>
			<li><a href="mailto:Csineneo+Tofu@Gmail.com">Mail</a></li>
		</ul>
	</li>
	<li><a href="#"><strong>Opera</strong></a>
		<ul>
			<li><a href="http://tofu.im/opera/config">opera:config</a></li>
			<li><a href="http://tofu.im/opera/snapshot">最新測試版</a></li>
			<li><a href="http://vivaldi.club">裡世界</a></li>
		</ul>
	</li>
	<li><a href="#"><strong>圖</strong></a>
		<ul>
			<li><a href="http://tofu.im/pics/apod">每日一天文圖</a></li>
			<li><a href="http://awk.tw/wallpapers/">高清壁紙</a></li>
			<li><a href="https://www.dropbox.com/sh/8vvnpzp6mywic6v/AACSgu2GLBUl_529SDtBUWXBa?dl=0">畫廊</a></li>
		</ul>
	</li>
	<li><a href="http://fiction.so"><strong>書</strong></a>
		<ul>
			<li><a href="http://fiction.so/books/ancient">唐宋元明清</a></li>
			<li><a href="http://fiction.so/books/religion">宗教典籍</a></li>
			<li><a href="http://fiction.so/books/modern">近現代</a></li>
			<li><a href="http://fiction.so/books/scifi">科幻小說</a></li>
			<li><a href="http://fiction.so/books/xia">武俠仙俠</a></li>
			<li><a href="http://fiction.so/books/huan">玄幻魔法</a></li>
			<li><a href="http://fiction.so/books/urban">都市重生</a></li>
			<li><a href="http://fiction.so/books/history">穿越歷史</a></li>
			<li><a href="http://fiction.so/books/game">網遊小說</a></li>
			<li><a href="http://fiction.so">最後更新</a></li>
		</ul>
	</li>
	<li><a href="#"><strong>雜</strong></a>
		<ul>
			<li><a href="http://tofu.im/twitter/ventducoeur">譯自法語推</a></li>
			<li><a href="http://tofu.im/misc/today">歷史上的今天</a></li>
			<li><a href="http://tofu.im/misc/idiom">同實異名詞彙表</a></li>
		</ul>
	</li>
	<li><a href="#"><strong>器</strong></a>
		<ul>
			<li><a href="http://tofu.im/tools/echo">Echo</a></li>
			<li><a href="http://tofu.im/tools/ua">User Agent</a></li>
		</ul>
	</li>
	<li><a href="http://awk.tw/rss/"><strong>RSS</strong></a>
		<ul>
			<li><a href="http://tofu.im/feed/rss:blog">Tofu Life</a></li>
			<li><a href="http://awk.tw/rss/moe.rss">萌</a></li>
			<li><a href="http://awk.tw/rss/beauty.rss">美女</a></li>
			<li><a href="http://awk.tw/rss/douban.rss">豆瓣妹子</a></li>
			<li><a href="http://awk.tw/rss/ventducoeur.rss">譯自法語推</a></li>
			<li><a href="http://awk.tw/rss/apod.rss">每日一天文圖</a></li>
			<li><a href="http://awk.tw/rss/snapshot.rss">Opera Snapshot</a></li>
		</ul>
	</li>
	</menu>
	<header><h1 class="center">最後更新</h1></header>
	
		{% block content %}
		{% endblock %}
		
	<footer><a href="http://tofu.im/">tofu.im</a></footer>
	</body>
</html>
