<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>welcome to chelseea</title>
		<script type="text/javascript" src="./../syntaxhighlighter/scripts/shCore.js"></script>
		<script type="text/javascript" src="./../syntaxhighlighter/scripts/shBrushPython.js"></script>
		<script type="text/javascript">SyntaxHighlighter.all();</script>

		<link type="text/css" rel="stylesheet" href="./../syntaxhighlighter/styles/shCoreEclipse.css"/>
		<link type="text/css" rel="stylesheet" href="./../syntaxhighlighter/styles/shCore.css"/>
		<link type="text/css" rel="stylesheet" href="./../css/blog.css"/>
	</head>

	<body>
		<nav>
		<a href="/">文章</a>|<a href="/archive.html">存档</a>|<a href="/album.html">相册</a>|<a href="/about.html">关于</a>|<a href="http://weibo.com/xiaket">微博</a>|<a href="http://book.douban.com/people/xiaket/">我读</a>|<a href="/feed.xml">订阅</a>
		</nav>

		<article>

		<br/>
		<pre class="brush: python">
		import sys	
		print sys
		def go:
			pass
		</pre>

		<br/>
		

		<br/>
		<h1>SyntaxHihglighter Test</h1>
		<p>This is a test file to insure that everything is working well.</p>



		<p> 新华网北京１２月７日电  １２月７日，中国和巴西联合研制的地球资源卫星０４星在太原成功发射升空。当天，国家主席习近平同巴西总统罗塞夫互致贺电。

			习近平在贺电中说，中巴地球资源卫星合作项目开创了发展中国家在航天领域开展合作的成功先例。多年来，中巴地球资源卫星项目成果丰硕，为提高两国科技水平，服务两国经济社会发展作出重要贡献。０４星成功发射，恰逢中国长征系列运载火箭第２００次发射，展示了两国科技合作最新成果和水平。希望双方积极落实中巴航天合作十年计划，加强科技创新合作，进一步充实中巴全面战略伙伴关系内涵，造福两国和两国人民。

			罗塞夫在贺电中说，不久前，我同习近平主席在二十国集团领导人布里斯班峰会期间会见，一致认为巴中地球资源卫星合作体现了发展中国家科技创新合作潜力。我们秉承南南合作精神，将卫星图像免费向非洲和拉美国家分享，具有历史意义。０４星成功发射有力推动了巴中全面战略伙伴关系发展。巴方将继续坚定支持巴中地球资源卫星合作。
		</p>
		</article>

	</body>
</html>
