<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>welcome to {{domain}}</title>
		
		<script type="text/javascript" src="static/syntaxhighlighter/scripts/shCore.js"></script>
		<script type="text/javascript" src="static/syntaxhighlighter/scripts/shBrushPython.js"></script>
		<script type="text/javascript">SyntaxHighlighter.all();</script>

		<link type="text/css" rel="stylesheet" href="static/syntaxhighlighter/styles/shCoreEclipse.css"/>
		<link type="text/css" rel="stylesheet" href="static/syntaxhighlighter/styles/shCore.css"/>
		<link type="text/css" rel="stylesheet" href="static/css/blog.css"/>
	</head>

	<body>
		<nav>
		<a href="/">文章</a>|<a href="/archive.html">存档</a>|<a href="/album.html">相册</a>|<a href="/about.html">关于</a>|<a href="http://weibo.com/u/2170618403">微博</a>|<a href="https://github.com/townboy">Github</a>|<a href="/feed.xml">订阅</a>
		</nav>

		<article>

		<br/>
		<pre class="brush: python">
		import sys	
		print sys
		def go:
			pass
		</pre>

		<br/>
		

		<br/>
		<h1>SyntaxHihglighter Test</h1>
		<p>This is a test file to insure that everything is working well.</p>



		</article>

	</body>
</html>


{% extends "templates/base.html" %}
{% block content %}	
	<ol>
		{% for user in users %}
			<li><a href = "article/{{user[:-3]}}"> {{user[:-3]}} </a></li>
		{% endfor %}
	</ol>
{% endblock %}
	